#include "res.h"

IDR_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open...\tCTRL+O", IDM_FILE_OPEN
    MENUITEM "&Save\tCTRL+S", IDM_FILE_SAVE
    MENUITEM "Save &as...\tCTRL+SHIFT+S", IDM_FILE_SAVEAS
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_FILE_EXIT
  END
END

IDR_MAINACCEL ACCELERATORS
BEGIN
  "O", IDM_FILE_OPEN, VIRTKEY, CONTROL
  "S", IDM_FILE_SAVE, VIRTKEY, CONTROL
  "S", IDM_FILE_SAVEAS, VIRTKEY, CONTROL, SHIFT
END
