#include "res.h"

IDR_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open", IDM_FILE_OPEN
    MENUITEM "&Save", IDM_FILE_SAVE
    MENUITEM "Save as...", IDM_FILE_SAVEAS
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_FILE_EXIT
  END
END
